*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    text-align: center;
    background: linear-gradient(190deg, rgb(71, 121, 28) 0%, rgba(29,87,175,1) 100%);    
    padding-top: 3rem;
}
.container{
    background-color: #ffffff;
    filter: brightness(0.9);
    color: #2260bd;
    margin: auto ; 
    padding: 0 3rem;
    border-radius: 1rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px #f0f0f0;
}
h1, .restartBtn{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem auto;
    color: #555555;
}

.square{
    width: 100px;
    height: 100px;
    border: 2px solid  #80808071;
    display: inline-block;
    border-radius: 1rem;
    margin: .25rem;
    color: white;
}

.o{
    position: relative;
}

.o:after{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    position: absolute;
    content: "O";
    font-size: 3.5rem;
    line-height: 96px;
    font-weight: bold;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.x{
    position: relative;
}

.x:after{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    position: absolute;
    content: "X";
    font-size: 3.5rem;
    line-height: 100px;
    font-weight: bold;
    top:0;
    bottom:0;
    left:0;
    right:0;  
}
.restartBtn{
    background: linear-gradient(80deg, rgba(109,195,34,1) 0%, rgba(29,87,175,1) 100%); 
    padding: .5rem 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: fit-content;
}
.square, .restartBtn:hover{
    cursor: pointer;
}

