*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    text-align: center;
    background: linear-gradient(180deg, rgb(2, 5, 5) 0%, rgb(10, 55, 66) 100%);    
    padding-top: 2rem;
}
.container{
    background-color: #020b1d;
    filter: brightness(0.9);
    color: #2260bd;
    margin: auto ; 
    padding: 0 3rem;
    border-radius: 1rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3rem #1cbfe7;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem auto;
    color: #7ce3fd;
    text-shadow: 0 0 10px 1rem white;
}

.square{
    width: 100px;
    height: 100px;
    border: 2px solid  #00d1ec;
    display: inline-block;
    border-radius: 1rem;
    margin: .5rem;
    color: white;
    background: #ffffff00;
    box-shadow: 0 0 15px #1cbfe7;
}

.o{
    position: relative;
}

.o:after{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    position: absolute;
    content: "O";
    font-size: 3.5rem;
    line-height: 96px;
    font-weight: bold;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color: #fff;
    text-shadow: 0 0 5px ;
}
.x{
    position: relative;
}

.x:after{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    position: absolute;
    content: "X";
    font-size: 3.5rem;
    line-height: 100px;
    font-weight: bold;
    top:0;
    bottom:0;
    left:0;
    right:0;  
    color: #fff;
    text-shadow: 0 0 5px ;
}
.restartBtn{
    background: linear-gradient(160deg, rgb(18, 19, 17) 0%, #1cbfe7 100%); 
    padding: .45rem 2rem;
    width: fit-content;
    border-radius: 1rem;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 0 px #1cbfe7;
    margin: 2rem auto;
}
.restartBtn:hover{
    background: linear-gradient(50deg, rgb(18, 19, 17) 0%, #1cbfe7 100%); 
    animation: ease 1s;
}

.square, .restartBtn:hover{
    cursor: pointer;
}
#stage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}
#placar{
    background-color: #000;
    color: #1cbfe7;
    width: fit-content;
    border-radius: 1rem;
    padding: .5rem;
    margin: 2rem auto 0 ;
    box-shadow: 0 0 15px #1cbfe7;
    
}
#placar ul{
    list-style: none;
    margin: .5rem;
    text-align: center;
}
#placar ul li{
    margin: .5rem;
}